// Color page
.seeds-color tbody tr[class*="500"] td,
.seeds-color tbody tr[class*="500"] th {
  padding: ($Space-size--600 * 2) $Space-size--300;
}
.seeds-color,
.seeds-networkcolor {
  tbody td pre {
    font-weight: $Typography-weight--bold;
  }
}
tbody td pre {
  margin: 0;
}
th[scope="col"] {
  white-space: nowrap;
}
.space-sample {
  background: currentColor;
}
.Swatch {
  max-width: 300px;
  padding: $Space-size--400;
  border: $Border-width--500 solid $Color-gray--200;
  border-radius: $Border-radius--500;
  span {
    cursor: pointer;
  }
  pre {
    white-space: normal;
  }
}
.CopyContent:hover {
  cursor: pointer;
}
.Example-depth-card {
  width: 125px;
  height: 125px;
}
.Example-motion {
  min-width: 20em;
  position: relative;
  height: 2em;
}
.Example-motion-ball {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transition-property: left;
  transition-duration: 1s;
  background: currentColor;
}
.Example-motion:hover .Example-motion-ball {
  left: calc(100% - 2em);
}
.Example-border {
  padding-bottom: $Space-size--600 * 2;
  background: $Color-gray--200;
  border: 0 solid $Color-gray--800;
}