// Color page
.seeds-color tbody tr[class*="500"] td,
.seeds-color tbody tr[class*="500"] th {
  padding: ($Space-size--600 * 2) $Space-size--300;
}
.seeds-color,
.seeds-networkcolor {
  tbody td pre {
    font-weight: $Typography-weight--bold;
  }
}
tbody td pre {
  margin: 0;
}
th[scope="col"] {
  white-space: nowrap;
}
.space-sample {
  background: currentColor;
}
.Swatch {
  max-width: 300px;
  padding: $Space-size--400;
  border: $Border-width--500 solid $Color-gray--200;
  border-radius: $Border-radius--500;
  span {
    cursor: pointer;
  }
  pre {
    white-space: normal;
  }
}
.CopyContent:hover {
  cursor: pointer;
}
.Example-depth-card {
  width: 125px;
  height: 125px;
}

$Example-motion--ballSize: 2em;
$Example-motion--duration: 1s;

@keyframes Example-motion {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(100% - #{$Example-motion--ballSize}), 0, 0);
  }
}
.Example-motion {
  min-width: 20em;

  &:hover .Example-motion-ball {
    transform: translate3d(calc(100% - #{$Example-motion--ballSize}), 0, 0);
  }
}
.Example-motion-ball {
  transition-property: transform;
  transition-duration: $Example-motion--duration;

  &::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: currentColor;
    content: "";
    display: inline-block;
  }

  &.isAnimated {
    animation-name: Example-motion;
    animation-duration: $Example-motion--duration;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.Example-border {
  padding-bottom: $Space-size--600 * 2;
  background: $Color-gray--200;
  border: 0 solid $Color-gray--800;
}