ul {
  margin: $Space-size--400 0;
  padding: 0 0 0 1em;
  ul {
    margin: 0;
  }
}
li {
  margin-top: $Space-size--200;

  img {
    max-width: 50%;
    margin-top: $Space-size--400;
    margin-bottom: $Space-size--400;
    display: block;
  }
}
#do-s-and-don-ts + ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: $Space-size--400;
  padding: 0;

  li {
    background: $Color-gray--100;
    border-radius: $Border-radius--500;
    flex-basis: calc(50% - #{$Space-size--300}*2);
    list-style: none;
    margin-bottom: $Space-size--500;
    padding: $Space-size--400;
    border-top: $Space-size--200 solid;

    strong {
      display: block;
      margin-bottom: $Space-size--400;
      padding: 0;
    }
    img {
      background: $Color-neutral--0;
      max-width: 100%;
      margin-bottom: 0;
      padding: $Space-size--400;
    }
  }
  li.dont {
    border-color: $Color-red--700;
    > strong:first-child {
      color: $Color-red--700;
    }
  }
  li.do {
    border-color: $Color-green--700;
    > strong:first-child {
      color: $Color-green--700;
    }
  }
}

table {
  border: 1px solid $Color-neutral--200;
  td, th {
    border: 1px solid $Color-neutral--200;
  }
  tr:nth-child(2n) {
    background-color: $Color-neutral--100;
  }
}

.keybutton {
  @include Typography-size--300;
  font-family: monospace;
  display: inline-block;
  padding: $Space-size--200 $Space-size--300;
  border-radius: $Space-size--200;
  border-bottom: $Space-size--100 solid $Color-neutral--700;
  background-color: $Color-neutral--1000;
  color: $Color-neutral--0;
}