/*
   COORDINATES
   Use in combination with the position module.
   Base:
     top
     bottom
     right
     left
   Modifiers:
     -0  = literal value 0
*/

.top-0    { top:    0; }
.right-0  { right:  0; }
.bottom-0 { bottom: 0; }
.left-0   { left:   0; }
