@import '@sproutsocial/seeds-motion/dist/seeds-motion.scss';

/*
   LINKS
*/

.link {
  text-decoration: none;
  transition: color $Motion-duration--quickly ease-in;
}

.link:link,
.link:visited {
  transition: color $Motion-duration--quickly ease-in;
}
.link:hover   {
  transition: color $Motion-duration--quickly ease-in;
}
.link:active  {
  transition: color $Motion-duration--quickly ease-in;
}
.link:focus   {
  transition: color $Motion-duration--quickly ease-in;
  outline: 1px dotted currentColor;
}
