@import '@sproutsocial/seeds-space/dist/seeds-space.scss';

/*
   SPACING
   Base:
     p = padding
     m = margin
   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left
     # = seeds spacing value
*/

/*
  Paddings
 */

.pa0    { padding: 0px; }
.pa100  { padding: $Space-size--100; }
.pa200  { padding: $Space-size--200; }
.pa300  { padding: $Space-size--300; }
.pa350  { padding: $Space-size--350; }
.pa400  { padding: $Space-size--400; }
.pa450  { padding: $Space-size--450; }
.pa500  { padding: $Space-size--500; }
.pa600  { padding: $Space-size--600; }


.pl0    { padding-left: 0px; }
.pl100  { padding-left: $Space-size--100; }
.pl200  { padding-left: $Space-size--200; }
.pl300  { padding-left: $Space-size--300; }
.pl350  { padding-left: $Space-size--350; }
.pl400  { padding-left: $Space-size--400; }
.pl450  { padding-left: $Space-size--450; }
.pl500  { padding-left: $Space-size--500; }
.pl600  { padding-left: $Space-size--600; }

.pr0    { padding-right: 0px; }
.pr100  { padding-right: $Space-size--100; }
.pr200  { padding-right: $Space-size--200; }
.pr300  { padding-right: $Space-size--300; }
.pr350  { padding-right: $Space-size--350; }
.pr400  { padding-right: $Space-size--400; }
.pr450  { padding-right: $Space-size--450; }
.pr500  { padding-right: $Space-size--500; }
.pr600  { padding-right: $Space-size--600; }

.pb0    { padding-bottom: 0px; }
.pb100  { padding-bottom: $Space-size--100; }
.pb200  { padding-bottom: $Space-size--200; }
.pb300  { padding-bottom: $Space-size--300; }
.pb350  { padding-bottom: $Space-size--350; }
.pb400  { padding-bottom: $Space-size--400; }
.pb450  { padding-bottom: $Space-size--450; }
.pb500  { padding-bottom: $Space-size--500; }
.pb600  { padding-bottom: $Space-size--600; }

.pt0    { padding-top: 0px; }
.pt100  { padding-top: $Space-size--100; }
.pt200  { padding-top: $Space-size--200; }
.pt300  { padding-top: $Space-size--300; }
.pt350  { padding-top: $Space-size--350; }
.pt400  { padding-top: $Space-size--400; }
.pt450  { padding-top: $Space-size--450; }
.pt500  { padding-top: $Space-size--500; }
.pt600  { padding-top: $Space-size--600; }

.pv0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pv100 {
  padding-top: $Space-size--100;
  padding-bottom: $Space-size--100;
}
.pv200 {
  padding-top: $Space-size--200;
  padding-bottom: $Space-size--200;
}
.pv300 {
  padding-top: $Space-size--300;
  padding-bottom: $Space-size--300;
}
.pv350 {
  padding-top: $Space-size--350;
  padding-bottom: $Space-size--350;
}
.pv400 {
  padding-top: $Space-size--400;
  padding-bottom: $Space-size--400;
}
.pv450 {
  padding-top: $Space-size--450;
  padding-bottom: $Space-size--450;
}
.pv500 {
  padding-top: $Space-size--500;
  padding-bottom: $Space-size--500;
}
.pv600 {
  padding-top: $Space-size--600;
  padding-bottom: $Space-size--600;
}
.ph0 {
  padding-left: 0px;
  padding-right: 0px;
}
.ph100 {
  padding-left: $Space-size--100;
  padding-right: $Space-size--100;
}
.ph200 {
  padding-left: $Space-size--200;
  padding-right: $Space-size--200;
}
.ph300 {
  padding-left: $Space-size--300;
  padding-right: $Space-size--300;
}
.ph350 {
  padding-left: $Space-size--350;
  padding-right: $Space-size--350;
}
.ph400 {
  padding-left: $Space-size--400;
  padding-right: $Space-size--400;
}
.ph450 {
  padding-left: $Space-size--450;
  padding-right: $Space-size--450;
}
.ph500 {
  padding-left: $Space-size--500;
  padding-right: $Space-size--500;
}
.ph600 {
  padding-left: $Space-size--600;
  padding-right: $Space-size--600;
}

/*
  Margins
 */

.ma0    { margin: 0px; }
.ma100  { margin: $Space-size--100; }
.ma200  { margin: $Space-size--200; }
.ma300  { margin: $Space-size--300; }
.ma350  { margin: $Space-size--350; }
.ma400  { margin: $Space-size--400; }
.ma450  { margin: $Space-size--450; }
.ma500  { margin: $Space-size--500; }
.ma600  { margin: $Space-size--600; }

.ml0    { margin-left: 0px; }
.ml100  { margin-left: $Space-size--100; }
.ml200  { margin-left: $Space-size--200; }
.ml300  { margin-left: $Space-size--300; }
.ml350  { margin-left: $Space-size--350; }
.ml400  { margin-left: $Space-size--400; }
.ml450  { margin-left: $Space-size--450; }
.ml500  { margin-left: $Space-size--500; }
.ml600  { margin-left: $Space-size--600; }


.mr0    { margin-right: 0px; }
.mr100  { margin-right: $Space-size--100; }
.mr200  { margin-right: $Space-size--200; }
.mr300  { margin-right: $Space-size--300; }
.mr350  { margin-right: $Space-size--350; }
.mr400  { margin-right: $Space-size--400; }
.mr450  { margin-right: $Space-size--450; }
.mr500  { margin-right: $Space-size--500; }
.mr600  { margin-right: $Space-size--600; }


.mb0    { margin-bottom: 0px; }
.mb100  { margin-bottom: $Space-size--100; }
.mb200  { margin-bottom: $Space-size--200; }
.mb300  { margin-bottom: $Space-size--300; }
.mb350  { margin-bottom: $Space-size--350; }
.mb400  { margin-bottom: $Space-size--400; }
.mb450  { margin-bottom: $Space-size--450; }
.mb500  { margin-bottom: $Space-size--500; }
.mb600  { margin-bottom: $Space-size--600; }


.mt0    { margin-top: 0px; }
.mt100  { margin-top: $Space-size--100; }
.mt200  { margin-top: $Space-size--200; }
.mt300  { margin-top: $Space-size--300; }
.mt350  { margin-top: $Space-size--350; }
.mt400  { margin-top: $Space-size--400; }
.mt450  { margin-top: $Space-size--450; }
.mt500  { margin-top: $Space-size--500; }
.mt600  { margin-top: $Space-size--600; }

.mv0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mv100 {
  margin-top: $Space-size--100;
  margin-bottom: $Space-size--100;
}
.mv200 {
  margin-top: $Space-size--200;
  margin-bottom: $Space-size--200;
}
.mv300 {
  margin-top: $Space-size--300;
  margin-bottom: $Space-size--300;
}
.mv350 {
  margin-top: $Space-size--350;
  margin-bottom: $Space-size--350;
}
.mv400 {
  margin-top: $Space-size--400;
  margin-bottom: $Space-size--400;
}
.mv450 {
  margin-top: $Space-size--450;
  margin-bottom: $Space-size--450;
}
.mv500 {
  margin-top: $Space-size--500;
  margin-bottom: $Space-size--500;
}
.mv600 {
  margin-top: $Space-size--600;
  margin-bottom: $Space-size--600;
}
.mh0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mh100 {
  margin-left: $Space-size--100;
  margin-right: $Space-size--100;
}
.mh200 {
  margin-left: $Space-size--200;
  margin-right: $Space-size--200;
}
.mh300 {
  margin-left: $Space-size--300;
  margin-right: $Space-size--300;
}
.mh350 {
  margin-left: $Space-size--350;
  margin-right: $Space-size--350;
}
.mh400 {
  margin-left: $Space-size--400;
  margin-right: $Space-size--400;
}
.mh450 {
  margin-left: $Space-size--450;
  margin-right: $Space-size--450;
}
.mh500 {
  margin-left: $Space-size--500;
  margin-right: $Space-size--500;
}
.mh600 {
  margin-left: $Space-size--600;
  margin-right: $Space-size--600;
}


