/*
   TEXT TRANSFORM
   Base:
     tt = text-transform
   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none
*/

.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }
