/*
  TEXT ALIGN
  Base
    t = text-align
  Modifiers
    l = left
    r = right
    c = center
    j = justify
*/

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }