h1,
h2,
h3,
h4,
h5,
h6 {
  color: $Color-black;
  font-weight: $Typography-weight--bold;
  margin: 0;
}
strong,
th,
dt {
  font-weight: $Typography-weight--bold;
}

h1 {
  @include Typography-size--900;
  + * {
    margin-top: $Space-size--600;
  }
  small {
    font-size: 60%;
    font-weight: $Typography-weight--regular;
  }
}
h2 {
  @include Typography-size--800;
  + * {
    margin-top: $Space-size--500;
  }
}
* + h2 {
  margin-top: $Space-size--600 * 2;
}

h3 {
  @include Typography-size--600;
  + * {
    margin-top: $Space-size--300;
  }
}
* + h3 {
  margin-top: $Space-size--500;
}

h4 {
  @include Typography-size--400;
  + * {
    margin-top: 0;
  }
}
* + h4 {
  margin-top: $Space-size--500;
}

.Header {
  display: flex;
}