$sizes: (
  $Space-size--100: 100,
  $Space-size--200: 200,
  $Space-size--300: 300,
  $Space-size--400: 400,
  $Space-size--500: 500,
  $Space-size--600: 600
);

@each $name, $size in $sizes {
  .Space-size--#{$size} {
    margin: $name;
  }
  .Space-size--#{$size}Left {
    margin-left: $name;
  }
  .Space-size--#{$size}Top {
    margin-top: $name;
  }
  .Space-size--#{$size}Right {
    margin-right: $name;
  }
  .Space-size--#{$size}Bottom {
    margin-bottom: $name;
  }
}
