table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $Space-size--600;
  border-collapse: collapse;
  @media screen and (max-width: 768px) {
    display: block;    
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
  }
  th,
  td {
    padding: $Space-size--400 $Space-size--300;
    border-top: $Border-width--500 solid $Color-gray--200;
    text-align: left;
  }

  thead th {
    border-bottom: $Border-width--500 solid $Color-gray--200;
    select {
      margin-left: $Space-size--300;
      vertical-align: middle;
    }
  }
}
