@font-face {
  font-family: 'proxima-nova';
  font-weight: 400;
  src: url('https://media.sproutsocial.com/font/proxima/26DE12_7_0.eot');
  src: url('https://media.sproutsocial.com/font/proxima/26DE12_7_0.eot#iefix')
      format('embedded-opentype'),
    url('https://media.sproutsocial.com/font/proxima/26DE12_7_0.woff') format('woff'),
    url('https://media.sproutsocial.com/font/proxima/26DE12_7_0.ttf') format('truetype'),
    url('https://media.sproutsocial.com/font/proxima/26DE12_7_0.svg#proxima-nova') format('svg');
}

@font-face {
  font-family: 'proxima-nova';
  font-weight: 600;
  src: url('https://media.sproutsocial.com/font/proxima/26DE12_6_0.eot');
  src: url('https://media.sproutsocial.com/font/proxima/26DE12_6_0.eot#iefix')
      format('embedded-opentype'),
    url('https://media.sproutsocial.com/font/proxima/26DE12_6_0.woff') format('woff'),
    url('https://media.sproutsocial.com/font/proxima/26DE12_6_0.ttf') format('truetype'),
    url('https://media.sproutsocial.com/font/proxima/26DE12_6_0.svg#proxima-semi') format('svg');
}

@font-face {
  font-family: 'clean-sanchez';
  font-weight: 600;
  src: url('https://media.sproutsocial.com/font/sanchez/clean-sanchez-semibold.eot');
  src: url('https://media.sproutsocial.com/font/sanchez/clean-sanchez-semibold.eot#iefix')
      format('embedded-opentype'),
    url('https://media.sproutsocial.com/font/sanchez/clean-sanchez-semibold.woff') format('woff');
}
$Typography-unit: 'rem';
@import '~@sproutsocial/seeds-border/dist/seeds-border';
@import '~@sproutsocial/seeds-color/dist/seeds-color';
@import '~@sproutsocial/seeds-space/dist/seeds-space';
@import '~@sproutsocial/seeds-typography/dist/seeds-typography';

* {
  font-family: $Typography-family;
}
* {
  box-sizing: border-box;
}
html,
body {
  @include Typography-size--300;
  margin: 0;
  color: $Color-gray--800;
  @media screen and (min-width: 768px) {
    font-size: $Typography-size--400;
  }
}

.table tbody + tbody {
  border-top: none;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid $Color-gray--200;
  padding: 0;
  margin: ($Space-size--600 * 2) auto;
}

section + section {
  margin-top: $Space-size--600 * 2;
}

a {
  color: $Color-blue--700;
  text-decoration: none;
  &:hover {
    color: $Color-blue--800;
    text-decoration: underline;
  }
}

@import 'examples';
@import 'headings';
@import 'lists';
@import 'navigation';
@import 'page';
@import 'space';
@import 'table';
@import 'tag';
@import 'typography';
@import 'utility';
