
@import "./axioms/Colors";

/*
---
Name: Background
Base:
    bg: background
Modifiers:
    -none: none
    -none-ns: none (not small)
    -none-m: none (medium)
    -none-l: none (large)
    -transparent: transparent
    --dark-transparent: dark transparent
    --light-transparent: dark transparent
    --color-name: name of a color variable
HoverClasses: true
---
*/

@each $breakpoint-name, $breakpoint in $breakpoints {
  @if ($breakpoint != "") {
    @media #{$breakpoint} {
      .bg-none#{$breakpoint-name} {
        background: none;
      }
    }
  } @else {
    .bg-none {
      background: none;
    }
  }
}

.bg-transparent {
  background-color: transparent;
}
.bg--dark-translucent {
  background-color: rgba(get-color(neutral, 1000), .6);
}
.bg--light-translucent {
  background-color: rgba(get-color(neutral, 0), .6);
}
@include generate-utility-color($colors-networks, "background-color", "bg-", "");
@include generate-utility-color-hover($colors-networks, "background-color", "bg-");
@include generate-utility-color($colors-without-gray, "background-color", "bg-", "");
@include generate-utility-color-hover($colors-without-gray, "background-color", "bg-");
@include generate-utility-color($theme-colors, "background-color", "bg-", "");
@include generate-utility-color-hover($theme-colors, "background-color", "bg-");
