/*
Name: Border Styles
Base:
    b = border-style
Modifiers:
    --none: none
    --dotted: dotted
    --dashed: dashed
    --solid: solid
Example: <div class="{{modifier}} mw900 mx-auto ba b--neutral-300 w-100p pa350 mt400">{{label}}</div>
 */

.b--dotted  { border-style: dotted; }
.b--dashed  { border-style: dashed; }
.b--solid   { border-style: solid; }
.b--none    { border-style: none; }