@import "./axioms/Border";
@import "./axioms/Colors";

/*
---
Name: Border Color
Base:
    b: border
Modifiers:
    --color-name: color variable name
HoverClasses: true
---
*/
@include generate-utility-color($color-map: $colors-without-gray, $property: "border-color", $class: "b-", $prefix: "");
@include generate-utility-color-hover($color-map: $colors-without-gray, $property: "border-color", $class: "b-");
@include generate-utility-color($color-map: $theme-colors, $property: "border-color", $class: "b-", $prefix: "");
@include generate-utility-color-hover($color-map: $theme-colors, $property: "border-color", $class: "b-");
