@import "./axioms/Colors";

/*
---
Name: Color
Base:
    c: color
Modifiers:
    -inherit: Inherit
    --color-name: name of a color variable
Breakpoints:
    -ns: not-small
    -m: medium
    -l: large
HoverClasses: true
---
*/
@each $breakpoint-name, $breakpoint in $breakpoints {
  @if ($breakpoint != "") {
    @media #{$breakpoint} {
      @include generate-utility-color($colors-networks, "color", "c-", "", $breakpoint-name);
      @include generate-utility-color-hover($colors-networks, "color", "c-", "hover-", $breakpoint-name);
      @include generate-utility-color($colors-without-gray, "color", "c-", "", $breakpoint-name);
      @include generate-utility-color-hover($colors-without-gray, "color", "c-", "hover-", $breakpoint-name);
      @include generate-utility-color($theme-colors, "color", "c-", "", $breakpoint-name);
      @include generate-utility-color-hover($theme-colors, "color", "c-", "hover-", $breakpoint-name);
      .c-inherit#{$breakpoint-name},
      .hover-c-inherit#{$breakpoint-name}:hover {
        color: inherit;
      }
    }
  } @else {
    @include generate-utility-color($colors-networks, "color", "c-", "");
    @include generate-utility-color-hover($colors-networks, "color", "c-");
    @include generate-utility-color($colors-without-gray, "color", "c-", "");
    @include generate-utility-color-hover($colors-without-gray, "color", "c-");
    @include generate-utility-color($theme-colors, "color", "c-", "");
    @include generate-utility-color-hover($theme-colors, "color", "c-");
    .c-inherit,
    .hover-c-inherit:hover {
      color: inherit;
    }
  }
}

