@import '@sproutsocial/seeds-typography/dist/seeds-typography.scss';
/*
---
Name: Font Family
Base:
    ff: Font Family
Modifiers:
    -proxima-nova: Proxima Nova
    -system: System Font Stack
    -recoleta: Recoleta semi-bold
---
*/

.ff-proxima-nova {
  font-family: $Typography-family--proxima;
}

.ff-system {
  font-family: $Typography-family;
}

.ff-recoleta {
  font-family: $Typography-family--recoleta;
}
