@import '@sproutsocial/seeds-typography/dist/seeds-typography.scss';
/*
---
Name: Font Family
Base:
    ff: Font Family
Modifiers:
    -proxima-nova: Proxima Nova
    -system: System Font Stack
Example: <div class="mw900 mx-auto w-100p pa350 mt400">{{label}}<p class="{{modifier}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid asperiores assumenda beatae doloremque ea eaque eum laudantium modi, molestiae odit repudiandae, totam ullam vel voluptate. Autem consequatur quam quidem?</p></div>
---
*/

.ff-proxima-nova {
  font-family: $Typography-family;
}

.ff-system {
  font-family: $Typography-family--system;
}
