@import "./axioms/Space";

/*
---
Name: Offset
Base:
    offset: offset
Directions:
    -r: right
    -l: left
    -x: horizontal
Modifiers:
    -8p: 1 column
    -16p: 2 columns
    -25p: 3 columns
Breakpoints:
    -ns: not-small
    -m: medium
    -l: large
---
*/

@mixin percent-width($breakpoint-name: "") {
  $percent-widths: (
          -8: (1 / 12),
          -16: (1 / 6),
          -25: .25
  );
  @each $name, $size in $percent-widths {
    .offset-l#{$name}p#{$breakpoint-name} {
      padding-left: calc(#{setUnits($Space-size--350)} + #{percentage($size)});
    }
    
    .offset-r#{$name}p#{$breakpoint-name} {
      padding-right: calc(#{setUnits($Space-size--350)} + #{percentage($size)});
    }

    .offset-x#{$name}p#{$breakpoint-name} {
      padding-left: calc(#{setUnits($Space-size--350)} + #{percentage($size)});
      padding-right: calc(#{setUnits($Space-size--350)} + #{percentage($size)});
    }
  }
}
@each $breakpoint-name, $breakpoint in $breakpoints {
  @if ($breakpoint != "") {
    @media #{$breakpoint} {
      @include percent-width($breakpoint-name);
    }
  } @else {
    @include percent-width;
  }
}