/*
---
Name: Opacity
Modifiers:
    o-100: Opacity 1
    o-90: Opacity .9
    o-80: Opacity .8
    o-70: Opacity .7
    o-60: Opacity .6
    o-50: Opacity .5
    o-40: Opacity .4
    o-30: Opacity .3
    o-20: Opacity .2
    o-10: Opacity .1
    o-0: Opacity 0
---
 */

.o-100 { opacity: 1;    }
.o-90  { opacity: .9;   }
.o-80  { opacity: .8;   }
.o-70  { opacity: .7;   }
.o-60  { opacity: .6;   }
.o-50  { opacity: .5;   }
.o-40  { opacity: .4;   }
.o-30  { opacity: .3;   }
.o-20  { opacity: .2;   }
.o-10  { opacity: .1;   }
.o-05  { opacity: .05;  }
.o-025 { opacity: .025; }
.o-0   { opacity: 0;    }