@import '@sproutsocial/seeds-space/dist/seeds-space.scss';
@import "./axioms/Space";

/*
---
Name: Square
Description: With our seedlings height and width values being different, this utility styling creates a way to create a square with equal height and width
Base:
    square: square
Modifiers:
    0: 0
    100: Size 100
    200: Size 200
    300: Size 300
    350: Size 350
    400: Size 400
    450: Size 450
    500: Size 500
    600: Size 600
    650: Size 650
    700: Size 700
    750: Size 750
    800: Size 800
    850: Size 850
    900: Size 900
    950: Size 950
    1000: Size 1000
Breakpoints:
    -ns: not-small
    -m: medium
    -l: large
---
*/

@mixin square($breakpoint-name: "") {
  @each $name, $size in $space-map {
    .square#{$name}#{$breakpoint-name} {
      height: $size;
      width: $size;
    }
  }
}
@each $breakpoint-name, $breakpoint in $breakpoints {
  @if ($breakpoint != "") {
    @media #{$breakpoint} {
      @include square($breakpoint-name);
    }
  } @else {
    @include square;
  }
}
