@import '@sproutsocial/seeds-typography/dist/seeds-typography.scss';

/*
---
Name: Text Transform
Base:
    tt: text-transform
Modifiers:
    c: capitalize
    l: lowercase
    u: uppercase
    n: none
    s: spacedout
Breakpoints:
    -ns: not-small
    -m: medium
    -l: large
---
*/

.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

@each $breakpoint-name, $breakpoint in $breakpoints {
  @if ($breakpoint != "") {
    @media #{$breakpoint} {
      .ttc#{breakpoint-name} { text-transform: capitalize; }
      .ttl#{breakpoint-name} { text-transform: lowercase; }
      .ttu#{breakpoint-name} { text-transform: uppercase; }
      .ttn#{breakpoint-name} { text-transform: none; }
    }
  }
}

@mixin font-weight-semibold() {
  font-weight: $Typography-weight--bold;
}

@mixin spaced-out() {
  @include font-weight-semibold;
  text-transform: uppercase;
  letter-spacing: .1em;
}

@each $breakpoint-name, $breakpoint in $breakpoints {
  @if ($breakpoint != "") {
    @media #{$breakpoint} {
      .tts#{$breakpoint-name} {
        @include spaced-out;
      }
    }
  } @else {
    .tts {
      @include spaced-out;
    }
  }
}
