/*
---
Name: Vertical Align
Base:
    v: vertical-align
Modifiers:
    -base: base
    -mid: middle
    -top: top
    -btm: bottom
    -txt-btm: text-bottom
    -txt-top: text-top
    -sub: sub
    -super: super
Breakpoints:
    -ns: not-small
    -m: medium
    -l: large
---
*/


@mixin vertical-align($breakpoint-name: "") {
  $alignments: (
          base: baseline,
          mid: middle,
          top: top,
          btm: bottom,
          txt-btm: text-bottom,
          txt-top: text-top,
          sub: sub,
          super: super
  );
  @each $alignmentClass, $alignment in $alignments {
    .v-#{$alignmentClass}#{$breakpoint-name} {
      vertical-align: $alignment;
    }
  }
}

@each $breakpoint-name, $breakpoint in $breakpoints {
  @if ($breakpoint != "") {
    @media #{$breakpoint} {
      @include vertical-align($breakpoint-name);
    }
  } @else {
    @include vertical-align;
  }
}
