@import "./axioms/ZIndex";

/*
---
Name: Z-index
Base:
    z: z-index
Modifiers:
    -1
    0
    1
    2
    3
    4
    5
    6
    7
    8
    9
    10
    11
    12
    13
    14
    15
    16
    17
    18
    19
    20
    21
    22
    23
    24
    25
    999
    9999
    -max
    -inherit
    -initial
    -unset
---
*/

@for $i from 1 to 26 {
  .z#{$i} {
    z-index: #{$i};
  }
}

.z-1 { z-index: -1; }
.z999 { z-index: 999; }
.z9999 { z-index: 9999; }

.z-max {
  z-index: 2147483647;
}

.z-inherit { z-index: inherit; }
.z-initial { z-index: initial; }
.z-unset { z-index: unset; }

