.Typography-size--100 {
  font-size: 11px;
  line-height: 1.696969696969697; }

.Typography-size--200 {
  font-size: 13px;
  line-height: 1.641025641025641; }

.Typography-size--300 {
  font-size: 16px;
  line-height: 1.5; }

.Typography-size--400 {
  font-size: 18px;
  line-height: 1.4814814814814816; }

.Typography-size--500 {
  font-size: 21px;
  line-height: 1.3968253968253967; }

.Typography-size--600 {
  font-size: 24px;
  line-height: 1.3333333333333333; }

.Typography-size--700 {
  font-size: 32px;
  line-height: 1.25; }

.Typography-size--800 {
  font-size: 43px;
  line-height: 1.1782945736434107; }

.Typography-size--900 {
  font-size: 57px;
  line-height: 1.1228070175438596; }

.Typography-size--1000 {
  font-size: 76px;
  line-height: 1.0526315789473684; }

body > * {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Proxima Nova", proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #162020; }

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
dt {
  font-weight: 600; }

a {
  color: #3896e3;
  text-decoration: none; }
  a:hover {
    color: #2b87d3;
    text-decoration: underline; }
