// Color page
#paletteTable tbody tr.num500 td {
  padding: ($Space-size--600 * 2) $Space-size--400;
}
#paletteTable tbody td {
  padding: $Space-size--400;
}
#paletteTable tbody td .colors-row-name pre {
  font-weight: $Typography-weight--bold;
}
#paletteTable tbody td pre {
  margin: 0;
}
.Swatch {
  max-width: 300px;
  padding: $Space-size--400;
  border: $Border-width--500 solid $Color-gray--200;
  border-radius: $Border-radius--500;
  span {
    cursor: pointer;
  }
  pre {
    white-space: normal;
  }
}
.Example-motion {
  min-width: 20em;
  position: relative;
  height: 2em;
}
.Example-motion-ball {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transition-property: left;
  transition-duration: 1s;
  background: currentColor;
}
.Example-motion:hover .Example-motion-ball {
  left: calc(100% - 2em);
}
.Example-border {
  padding-bottom: $Space-size--600 * 2;
  background: $Color-gray--200;
  border: 0 solid $Color-gray--800;
}