h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
dt {
  color: $Color-black;
  font-weight: $Typography-weight--bold;
}

h1 {
  @include Typography-size--900;
  margin-bottom: $Space-size--600;
}
h2 {
  @include Typography-size--800;
  margin-top: $Space-size--600 * 2;
  margin-bottom: $Space-size--500;
}
h3 {
  @include Typography-size--600;
  margin-top: $Space-size--600;
  margin-bottom: $Space-size--400;
}
h4 {
  @include Typography-size--500;
  margin-bottom: $Space-size--300;
}
