$Typography-unit: 'rem';
@import "seeds-color";
@import "seeds-space";
@import "seeds-typography";

html,
body {
  font-size: $Typography-size--300;
  font-family: $Typography-family;
  color: $Color-gray--800;
  @media screen and (min-width: 768px) {
    font-size: $Typography-size--400;
  }
}

.table tbody+tbody {
  border-top: none;
}

hr {
  height: 0;
  border-top: 1px solid $Color-gray--200;
  padding: 0;
  margin: ($Space-size--600 * 2) auto;
}

a {
  color: $Color-blue--500;
  text-decoration: none;

  &:hover {
    color: $Color-blue--600;
    text-decoration: underline;
  }
}

// Color page
#paletteTable tbody td.num500 {
  padding: ($Space-size--600 * 2) $Space-size--400;
}
#paletteTable tbody td {
  padding: $Space-size--400;
}
#paletteTable tbody td .colors-row-name pre {
  font-weight: $Typography-weight--bold;
}
#paletteTable tbody td pre {
  margin: 0;
}

@import "examples";
@import "headings";
@import "navigation";
@import "page";
@import "space";
@import "typography";
