$Typography-unit: 'rem';
@import "seeds-color";
@import "seeds-space";
@import "seeds-typography";

html,
body {
  font-size: $Typography-size--300;
  font-family: $Typography-family;
  color: $Color-gray--800;
  @media screen and (min-width: 768px) {
    font-size: $Typography-size--400;
  }
}

.Example {
  min-width: 20em;
  position: relative;
  height: 2em;
}
.Example-ball {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transition-property: left;
  transition-duration: 1s;
  background: currentColor;
}
.Example:hover .Example-ball {
  left: calc(100% - 2em);
}

.table tbody+tbody {
  border-top: none;
}

hr {
  height: 0;
  border-top: 1px solid $Color-gray--200;
  padding: 0;
  margin: ($Space-size--600 * 2) auto;
}

a {
  color: $Color-blue--500;
  text-decoration: none;

  &:hover {
    color: $Color-blue--600;
    text-decoration: underline;
  }
}

@import "headings";
@import "navigation";
@import "page";
@import "space";
@import "typography";
