@import "seeds-color";
@import "seeds-space";
@import "seeds-typography";

@import "headings";
@import "space";
@import "typography";

body > * {
  @include Typography-size--300;
  font-family: $Typography-family;
  color: $Color-black;
}

.table tbody+tbody {
  border-top: none;
}

a {
  color: $Color-blue--500;
  text-decoration: none;

  &:hover {
    color: $Color-blue--600;
    text-decoration: underline;
  }
}
