@import "../axioms/Colors";

$adapt-theme: (
        main: (
                default: $Color-purple--900,
                dark: $Color-purple--900,
                darkest: $Color-purple--900,
        ),
        link: (
                default: $Color-neutral--900,
        ),
        primary: (
                default: $Color-purple--900,
                dark: $Color-purple--900
        ),
        text: (
                default: $Color-neutral--900,
        ),
);

$theme-colors: set-theme($adapt-theme);
