@import "../axioms/Colors";

$theme-bambu: (
        main: (
                default: $Color-bambuTeal--400,
                dark: $Color-bambuTeal--500,
                darkest: $Color-bambuTeal--700
        ),
        background: (
                dark: $Color-bambuTeal--700
        ),
        background-hero: (
                default: $Color-bambuTeal--600,
                light: $Color-bambuTeal--400,
                dark: $Color-bambuTeal--700
        ),
        primary: (
                default: $Color-bambuYellow--500,
                dark: $Color-bambuYellow--600
        ),
        secondary: (
                default: $Color-bambuTeal--400,
                dark: $Color-bambuTeal--700
        ),
        link: (
                default: $Color-bambuTeal--400,
                dark: $Color-bambuTeal--500
        )
);
$theme-colors: set-theme($theme-bambu);
