.Tag {
  @include Typography-size--200;
  display: inline-block;
  padding: $Space-size--200 $Space-size--300;
  background: $Color-gray--200;
  color: $Color-gray--800;
  font-weight: $Typography-weight--bold;
  border-radius: $Border-radius--500;
}

.Tag--deprecated {
  background: $Color-red--800;
  color: $Color-white;
}

.Tag--deprecated.Tag--inverse {
  background: $Color-white;
  color: $Color-red--800;
}
