code,
pre {
  @include Typography-size--300;
  font-family: monospace;
  margin: 0;
}
code {
  display: inline-block;
  padding: $Space-size--200 $Space-size--300;
  background: $Color-gray--100;
  border-radius: $Border-radius--500;
}
.Lead {
  @include Typography-size--500;
}
.Lead--large {
  @include Typography-size--600;
}
.Typography-family--sanchez {
  font-family: $Typography-family--cleanSanchez;
}
.Typography-weight--regular {
  font-weight: $Typography-weight--regular;
}
.Typography-weight--semibold {
  font-weight: $Typography-weight--bold;
}
// TODO: Consider producing this as part of the SEEDS build
.Typography-size--100 {
  @include Typography-size--100;
}
.Typography-size--200 {
  @include Typography-size--200;
}
.Typography-size--300 {
  @include Typography-size--300;
}
.Typography-size--400 {
  @include Typography-size--400;
}
.Typography-size--500 {
  @include Typography-size--500;
}
.Typography-size--600 {
  @include Typography-size--600;
}
.Typography-size--700 {
  @include Typography-size--700;
}
.Typography-size--800 {
  @include Typography-size--800;
}
.Typography-size--900 {
  @include Typography-size--900;
}
.Typography-size--1000 {
  @include Typography-size--1000;
}
