// Configuration
$small-width: 17rem !default;
$medium-width: 30rem !default;
$large-width: 60rem !default;
$breakpoint-not-small: "screen and (min-width: #{$medium-width})" !default;
$breakpoint-medium: "screen and (min-width: #{$medium-width}) and (max-width: #{$large-width})" !default;
$breakpoint-large: "screen and (min-width: #{$large-width})" !default;
$breakpoints: (
        none: "",
        "-ns": $breakpoint-not-small,
        "-m": $breakpoint-medium,
        "-l": $breakpoint-large
) !default;
$enable-print: true !default;
$enable-rem: true !default;
$Typography-unit: "rem" !default;
$font-size-base: 18px !default;

@function setUnits($size) {
  @if ($enable-rem) {
    $remSize: $size / $font-size-base;
    @return $remSize * 1rem;
  }
  @return $size;
}

$grid-width: setUnits(1248px) !default;

// Available Partials
@import 'src/forms'; // This needs to go first so the reset styles can be overridden later
@import 'src/accessibility';
@import 'src/animation';
@import 'src/background-position';
@import 'src/background-size';
@import 'src/background'; // This needs to fall after the other background utilities in the cascade
@import 'src/border';
@import 'src/border-color';
@import 'src/border-radius';
@import 'src/border-style';
@import 'src/border-width';
// @import 'src/clears';
@import 'src/color';
@import 'src/coordinates';
@import 'src/display';
@import 'src/flexbox';
// @import 'src/floats';
@import 'src/font-family';
@import 'src/font-weight';
@import 'src/height';
@import 'src/hide';
@import 'src/hover';
@import 'src/lists';
@import 'src/negative-margin';
@import 'src/object-fit';
@import 'src/opacity';
@import 'src/overflow';
@import 'src/position';
@import 'src/print';
@import 'src/shadow';
@import 'src/spacing';
@import 'src/square';
@import 'src/text-align';
@import 'src/text-decoration';
@import 'src/text-transform';
@import 'src/type-scale';
@import 'src/typography';
@import 'src/vertical-align';
@import 'src/whitespace';
@import 'src/width';
@import 'src/word-break';
@import 'src/z-index';
