// Configuration
$breakpoints: (none: "") !default;
$enable-print: false !default;
$enable-rem: false !default;


// Available Partials
@import 'src/forms'; // This needs to go first so the reset styles can be overridden later
@import 'src/accessibility';
// @import 'src/animation'; // TODO: work with marketing to update this later
@import 'src/background-position';
@import 'src/background-size';
@import 'src/background'; // This needs to fall after the other background utilities in the cascade
@import 'src/border';
@import 'src/border-color';
@import 'src/border-radius';
@import 'src/border-style';
@import 'src/border-width';
@import 'src/clears';
@import 'src/color';
@import 'src/coordinates';
@import 'src/display';
@import 'src/flexbox';
@import 'src/floats';
@import 'src/font-family';
@import 'src/font-weight';
@import 'src/height';
@import 'src/hide';
@import 'src/hover';
@import 'src/lists';
@import 'src/negative-margin';
@import 'src/object-fit';
@import 'src/opacity';
@import 'src/overflow';
@import 'src/position';
@import 'src/print';
// @import 'src/shadow'; // TODO: update this to SEEDs Depth with marketing later
@import 'src/spacing';
@import 'src/text-align';
@import 'src/text-decoration';
@import 'src/text-transform';
// @import 'src/type-scale'; Note: Only for marketing media queries
@import 'src/typography';
@import 'src/vertical-align';
@import 'src/whitespace';
//@import 'src/width';
@import 'src/word-break';
@import 'src/z-index';
